---
import LinkPanel from './LinkPanel.astro';
---

<footer class='flex flex-col items-center justify-center sm:mt-6 md:mt-24 w-10/12'>
    <hr class='w-full h-2 bg-slate-900 my-6'/>
    <LinkPanel/>
    <p class='mt-12 text-xl'>
        Made with 🚀 in
        <a target='_blank' class='underline' href='https://astro.build'>
            Astro
        </a>
    </p>
</footer>
