---
import LinkPanel from './LinkPanel.astro';
---

<footer class='flex flex-col items-center justify-center w-10/12'>
    <hr class='w-full h-2 bg-slate-900 my-6' />
    <LinkPanel />
    <p class='text-xl mt-4'>
        Made with 🚀 in
        <a
            target='_blank'
            class='underline'
            href='https://astro.build'
            aria-label="Astro's Homepage: the tool I used to generate this site"
        >
            astro.build
        </a>
    </p>
</footer>
