---
import TitleCycler from './react/TitleCycler';
---

<html>
    <head>
        <title>luketarr.dev</title>
    </head>
    <body class='flex flex-col items-center justify-center w-full'>
        <img
            src='luke.png'
            alt='Luke Tarr Logo'
            class='h-48 mt-4 rounded-2xl'
        />

        <div class='md:mx-0 mx-4 text-center'>
            <h1 class='mt-6 text-6xl font-bold'>Hey, I'm Luke Tarr!</h1>
            <TitleCycler client:idle />
        </div>
    </body>
</html>
