---
import TitleCycler from './react/TitleCycler';
---

<html>
<head>
    <title>luketarr.dev</title>
</head>
<body
        class='flex flex-col items-center justify-start w-full bg-gradient-to-r from-indigo-200 to-emerald-200'
>
<div class='md:mx-0 mx-4 text-center'>
    <h1 class='mt-6 text-6xl font-bold'>Hey, I'm Luke Tarr!</h1>
    <TitleCycler client:load/>
</div>

<div
        class='flex flex-row items-center justify-between w-10/12 md:mt-20 mt-10'
>
    <div class='flex flex-col w-full text-center'>
        <p class='text-slate-900 text-5xl'>
            Welcome to my portfolio website. Here you can find my
            projects, blog posts, and more about my journey in software
            development.
        </p>
    </div>
</div>
</body>
</html>
