---
import LinkPanel from './LinkPanel.astro';
import TitleCycler from './react/TitleCycler';
---

<html>
    <head>
        <title>Luke Tarr - Portfolio</title>
        <link
            href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css'
            rel='stylesheet'
        />
    </head>
    <body
        class='flex flex-col items-center justify-start w-full bg-gradient-to-r from-indigo-200 to-emerald-200'
    >
        <div>
            <h1 class='mt-6 text-6xl font-bold'>Hey, I'm Luke Tarr!</h1>
            <TitleCycler client:load />
        </div>

        <div class='flex flex-row items-center justify-between w-10/12 mt-40'>
            <div class='w-full text-start'>
                <p class='text-slate-900 text-5xl'>
                    Welcome to my portfolio website. Here you can find my
                    projects, blog posts, and more about my journey in software
                    development.
                </p>
            </div>
        </div>
        <div class='mt-12'>
            <LinkPanel />
        </div>
    </body>
</html>
