---
const githubUrl = 'https://github.com/LukeTarr';
const xUrl = 'https://x.com/lukertarr';
---

<div class='flex flex-row'>
    <div class='flex items-center justify-center mx-10 w-full'>
        <a
            href={githubUrl}
            target='_blank'
            rel='noopener noreferrer'
            aria-label="Luke Tarr's GitHub profile"
        >
            <img src='github.svg' alt='GitHub Logo' class='h-16 w-16' />
        </a>
    </div>

    <div class='flex items-center justify-center mx-10 w-full'>
        <a
            href={xUrl}
            target='_blank'
            rel='noopener noreferrer'
            aria-label="Luke Tarr's X.com profile"
        >
            <img src='x.svg' alt='GitHub Logo' class='h-16 w-16' />
        </a>
    </div>
</div>
