---
import { Fragment } from 'astro/jsx-runtime';
---

<nav
    class='flex flex-row justify-between bg-slate-300 w-full p-4 md:p-4 md:w-10/12 md:rounded-full md:mt-4'
>
    <div class='flex flex-row items-center justify-center md:mx-10'>
        <a href='/' class='text-black text-2xl font-bold'>luketarr.dev</a>
    </div>
    <div class='flex flex-row items-center justify-center md:mx-10'>
        <ul class='flex space-x-4'>
            <li>
                <a href='/' class='hover:text-gray-400'>Home</a>
            </li>
            <li>
                <a href='/projects' class='hover:text-gray-400'>Projects</a>
            </li>
            <li>
                <a href='/blog' class='hover:text-gray-400'>Blog</a>
            </li>
        </ul>
    </div>
</nav>
