---
import { Fragment } from 'astro/jsx-runtime';
---

<nav
    class='flex flex-row items-center justify-between bg-gray-800 w-full p-4 mt-0 md:mt-4 md:w-10/12 md:rounded-full h-18'>
    <div class='flex flex-row items-center justify-around md:mx-10'>
        <a href='/' class='w-10 h-10 mr-4'>
            <img src='favicon.png' alt='Luke Tarr Logo' class="w-10 h-10 ml-2"/>
        </a>

        <a href='/' class='text-white text-2xl font-bold invisible w-0 md:w-auto md:visible no-underline'>
            luketarr.dev
        </a>
    </div>
    <div class='flex flex-row items-center justify-center md:mx-10 mr-2'>
        <ul class='flex space-x-4'>
            <li class="list-none">
                <a href='/' class='text-white hover:text-gray-400 no-underline'>
                    Home
                </a>
            </li>
            <li class="list-none">
                <a href='/projects' class='text-white hover:text-gray-400 no-underline'>
                    Projects
                </a>
            </li>
            <li class="list-none">
                <a href='/blog' class='text-white hover:text-gray-400 no-underline'>Blog</a>
            </li>
        </ul>
    </div>
</nav>
