---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width'/>
    <link rel='icon' type='image/png' href='/favicon.png'/>
    <link rel='stylesheet' href="../../public/main.css" />
    <meta name='generator' content={Astro.generator}/>
    <meta
            name='description'
            content='The personal site for Luke Tarr, a software developer: luketarr.dev'
    />
    <meta property='og:title' content='luketarr.dev'/>
    <meta
            property='og:description'
            content='The personal site for Luke Tarr, a software developer: luketarr.dev'
    />
    <meta property='og:url' content='https://luketarr.dev'/>
    <meta property='og:type' content='website'/>
    <title>luketarr.dev</title>
</head>
<body class="bg-slate-100 m-0">
<div
        id="root"
        class='bg-zinc-100 bg-cover bg-scroll bg-center w-full
            flex flex-col items-center justify-center'>
    <Navbar/>
    <div class='grid grid-cols-1 place-content-center place-items-center gap-5 w-full'>
        <slot/>
        <Footer/>
    </div>
</div>
</body>
</html>

<!--astro style-->
<style>
    #root {
        background-image: url('/horizon-animated.svg')
    }
</style>